:root {
  --primary-color: #ccd8ed;
  --secondary-color: #54d5d5;
  --tertiary-color: #142c43;
  --background-color: #111e42;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}

h6 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

a {
  color: var(--primary-color);
}

.certifications-box a:hover {
  opacity: 0.5;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  padding: 120px 20px;
  text-align: center;
}

.btn {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  padding: 10px 15px;
}

.btn:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

.btn-project {
  background: var(--primary-color);
  color: var(--background-color);
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  padding: 10px 15px;
}

footer {
  color: var(--secondary-color);
  font-size: x-large;
  padding: 30px 20px;
}

footer p {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 42px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    text-align: center;
  }
  .content-container {
    text-align: center;
  }
}

.content-container {
  padding: 120px 20px;
  margin: 0 30px;
}

.certifications-box {
  margin: 20px 40px;
  padding: 30px;
  border-radius: 4px;
}

.skill-icon {
  color: var(--primary-color);
  font-size: 20px;
}

.skill-icon:hover {
  color: var(--secondary-color);
}
